/* ------------GENERALI------------- */

*{
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-size: 20px;
}
body{
  background-color: #f5f8fa;
}
.mutendinavquad>div:after, .fixd:after, .size:after, nav:after, section:after, article:after, #fixedbar:after, footer:after{
  content:"";
  display:table;
  clear: both;
  /* DEBUG:  */
  /* margin-bottom: 50px; */
}

.size{
  max-width: 1250px;
  margin: auto;
  padding: 50px 50px;
}
.Get{
  background-color: #ff7a59;
  border-radius: 4px;
  text-align: center;
  height: 60px;
  text-decoration:none;
  color: white;
  display: inline-block;
  vertical-align: top;
  padding: 25px 20px;
  font-size: 14px;
  font-weight: 600;
  transition: 1s;

}
.Get:hover{
  background-color: rgba(255, 122, 89, 0.5);
}

.titles h2{
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.titles p{
  font-weight: 200;
  line-height: 1.7;
  margin-bottom: 60px;
}
.titles{
  width: 80%;
  margin: auto;
}
/* --------------HEADER----------------- */
/* -------------- FIXEDBAR------------- */


#fixedbar{
  background-color: #f5f8fa;
  position: fixed;
  top:0;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 50;
  height: 100px;
  width: 100%;
}

#fixedbar .size{
  padding: 20px 50px;
  width: 100vw;
  max-width: 1250px;
}
#fixedbar .size>*{
  margin-right: 30px;
}
#mutendinalang{
  margin-top: 15px;
  width: 135.68px;

}
#fixedbar .size #mutendinalang a:first-child, #fixedbar .size>*:nth-child(2){
  margin-top: 15px;
  color: #33475b;
  text-decoration: none;
}
#fixedbar .size #mutendinalang a:first-child{
  border-right: 1px solid #33475b;
  padding-right: 30px;

}
#mutendinalang a:nth-child(1n+2){
  display: none;
  line-height: ;
  text-decoration: none;
  color: #33475b;
  background-color: white;
  padding: 20px 20px;
  border-left: 1px solid rgba(0 ,0 ,0, 0.4);
  border-right: 1px solid rgba(0 ,0 ,0, 0.4);
}
#mutendinalang a:nth-child(5){
 border-bottom: 1px solid rgba(0 ,0 ,0, 0.4);
}
#mutendinalang a:nth-child(2){
  margin-top: 30px;
  border-top: 1px solid rgba(0 ,0 ,0, 0.4);
}

#fixedbar .size #mutendinalang:hover a:nth-child(1n+2){
  display: block;
}


#mutendinalang , #Contact{
  float:left;
}
#fixedbar .size> *:nth-child(1n+3){
  float:right;
}
.Get~a{
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  height: 60px;
  text-decoration:none;
  color: #ff7a59;
  display: inline-block;
  padding: 20px 20px;
  border: 1px solid #ff7a59;
  transition: 1s;
}
.Get~a:hover{
  background-color: rgba(0, 0, 0, 0.2);
}
#fixedbar input{
  margin: 10px 5px 0 0;
  border-radius: 4px;
  height: 30px;
  padding: 0px 20px;
  border: 1px solid lightblue;
  box-shadow: 2px 2px lightblue;
}
.fa-search{
  color:blue;
  margin-top: 15px;
  transition: 1s;
}
.fa-search:hover{
  cursor: pointer;
}
/* ----------non riesco a dare il focus alla lente------------ */
/* i input{
  display: none;
}
i:focus input{
  display: inline-block;
} */
/* -----------FIXEDCHAT----------- */

#fixedchat{
  position: fixed;
  bottom: 10vh;
  right: 2vw;
  transform: translate(-0, 0);
  width: 0;
  z-index: 100;
  transition: 1s;
  background-color: none;
  height: 0;
  cursor: pointer;
}
#fixedchat img{
  width: 6vw;
  transition: 1s;
  transform: translate(-100%, -70%);
}
#fixedchat img:hover{
  transform: translate(-100% , -100%);
  width: 12vw;

}
#chat{
  background-color: none;
  height: 20vw;
  display: none;
  overflow: hidden;
  max-height: 35vh;

}
#chat p{
  width: 12vw;
  font-size: 75%;
}
#fixedchat:focus img{
  width: 12vw;
}
#fixedchat:focus #chat{
  display: block;
  position: absolute;
  top: -60vh;
  left: calc(-12vw );
}
/* -------------NAV BAR-------------- */
nav{
  background-color: white;
  margin-top: 100px;

}
nav>.size{
  position: relative;
}
#logosup{
  float: left;
}
.mutendinav{
  height: 35px;
}
#menunavbar{
  float:right;
  width: 50%;
}
#menunavbar>ul li{
  float: left;
  padding: 0 2%;
  list-style-type: none;
  cursor: pointer;
}
#menunavbar:after{
  content:"";
  display:table;
  clear: both;
}

/* ------MEGAQUADMENU------- */
.mutendinavquad h3{
  font-size: 20px;
}
.mutendinavquad{
  background-color: white;
  position: absolute;
  right: 20%;
  top: 79px;
  width: 800px;
  z-index: 10;
  padding: 20px;
  display: none;
}
.mutendinav:hover .mutendinavquad{
  display: block;
}
.mutendinavquad>a{
  display: block;
  color: #33475b;
  text-decoration: none;
}
.mutendinavquad a:hover{
  background-color: lightblue;
}

.mutendinavquad>a:first-child{
  text-align: center;
  padding: 80px 40px 40px 40px;
}
.mutendinavquad>div>a{
  float: left;
  width: 33.33%;
  padding: 40px 30px;
  color: #33475b;
  text-decoration: none;
}
.row>*{
  width: 33.33%;
  float: left;
  width: 33.33%;
  padding: 40px 30px;
  color: #33475b;
  text-decoration: none;
}
.row{
  width: 100%;
}
.mutendinavquad p, .mutendinav_bar p{
  line-height: 1.5;
  font-size: 15px;
}
.mutendinavquad p span{
  font-weight: 600;
}
#piedemutenquad{
  width: 100%;
}
#piedemutenquad>*{
  float: left;
  padding: 10px;
  /* color: #33475b; */
}
.new{
  float: right;

  color: white;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  padding: 10px;
  background-color: #00bda5;
}
.mutendinav h3:after{
  content:"";
  display: table;
  clear: both;
}

#piedemutenquad p{
  font-size: 12px;
  line-height: 2;
}
.mutendinav_bar{
  background-color: white;
  position: absolute;
  right: 10%;
  top: 79px;
  width: 650px;
  z-index: 10;
  padding: 20px;
  display: none;
}
.mutendinav:hover .mutendinav_bar{
  display: block;
}
.row_2{
  width: 100%;
  float:left;
}
.row_2 a{
  float: left;
  width: 50%;
  padding: 40px 30px;
  color: #33475b;
  text-decoration: none;
}
.row .new{
  text-align: center;
  padding: 1px 4px 2px;
  font-size: 20px;
  height: 25px;
}

.row ul li a{
  color: #33475b;
  font-size: 14px;
  line-height: 3;
  text-decoration: none;
}
.mutendinav_bar .row div{
  cursor: default;
}
.row ul li a:hover{
  background-color: lightblue;
}
.row_2 a:hover{
  background-color: lightblue;
}
/* -----------JUMBOJAMBO------------- */
/* DEBUG: ATTENZION!!! SO CHE NON VA FATTO MA LO FACCIO */
#JumboJambo{
  position: relative;
  height: 740px;
  background-color: rgb(255 243 238);

}
#JumboJambo>div{
  height: 100%;
  position: relative;
}
#casette{
  position: absolute;
  bottom: 0px;
  right: 50px;
  width: 70%;
}
#JumboJambo>#strisciaverderdimmerda{
  position: absolute;
  bottom: 0;
  height: 6vw;
  width: 100%;
  max-height: 80px;
  background-color: rgb(0 181 157);
}
#Growing_text{
  position: absolute;
  width: 40%;
  left: 50px;
  top: 5%;
  color: #33475b;
}
#Growing_text h1{
  font-size: 2.2em;
  margin-bottom: 20px;
}
#Growing_text .Get{
  padding: 20px 10px;
  margin: 20px 0;
  height: 60px;
}
#Growing_text h6{
  font-size: 14px;
  font-weight: 200;
}
/* -------------Sezione  CONCEPT------------ */
.fa-check-square{
  color: #ff7a59;
  border-radius: 999px;
}
#concept>img{
  width: 260px;
}
#concept{
  text-align: center;
}

.feature img{
  max-height: 150px;
}
/*  vorrei mettere il simbolino con before ma non riesco */
/* #conc li:before{
  content: "";
} */
.feature p, .feature ul{
  text-align: left;
  list-style-type: none;
  font-size: 15px;
  margin: 20px 0;
  color: #33475b;
}
.feature:first-child{
  width: 100%;
  float: none;
  text-align: left;
}
.feature li{
  font-size: 14px;
}
.feature:first-child ul li{
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
}
.feature{
  margin-top:3vw;
  padding: 40px;
  background-color: white;
  width: calc(33.333% - 2vw);
  float: left;
  text-align: center;
}
.feature:nth-child(3){
  margin: 3vw 3vw 0;
}
.leftside {
  float: left;
  width: 30%;
  text-align: center;
}
.first h6{
  float: left;
}
.feature h6{
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
}
.first{
  height: 100%;
  width: 70%;
  float: right;
}
.feature hr{
  margin-top: 40px;
}
.feature ul{
  clear: both;
}
article{
  transition: 1s;
}
article:hover{
  box-shadow: 10px 10px #e6e6e6;
  transform: translate(5%, -5%);
}
/* -----------Sezione GRIGLIA------------ */
#grid:after{
  content: "";
  display: table;
  clear: both;
}
#aftermath{
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  color: white;
}
.aftersect{
  text-align: center;
}
.quad{
  width: 25%;
  height: 255px;
  float: left;
  padding: 40px;
  text-align: center;
  border-right: 1px white solid;
}
.quad h2{
  font-size: 60px;
}
.quad h2:after{
  content: "+";
  font-size: 0.3em;
  vertical-align: middle;

}
.quad:nth-child(4n+4){
  border-right:none;
}
.quad2{
  border-top: 1px white solid;
}
/*---------------Sezione STARTPROJECT---------------- */

#startproject>div div{
  float: left;
}
#results, #testimonial{
  width: 40%;
}
#partners, #ouroffer{
  width: 60%;
}
#ouroffer{
  padding-right: 150px;
}
#partners{
  padding: 0 2% 100px;
}
#testimonial img{
  float: right;
  width: 350px;
}
#results{
  padding: 0 5% 100px 0;
}
#results h2{
  font-size: 45px;
}
#results span{
  font-weight: 800;
}
#results p{
  letter-spacing: 2px;
  line-height: 2;
}
#partners img{
  vertical-align: baseline;
  width: 150px;
  float: left;
  padding: 20px;
}
#ouroffer *{
  margin-top: 20px;
}
#ouroffer h6{
  font-size: 14px;
  font-weight: 300;
}
/*----------------Footer-------------  */

footer{
  color: white;
  background-color: #33475b;
}
footer a{
  text-decoration:none;
  color: white;
}
#Nonlosofooterdiv ul{
  float: left;
  width: 23%;
  list-style-type: none;
  line-height: 2;

}
#Nonlosofooterdiv h5{
  line-height: 1;
  margin-bottom: 10px;
  font-weight: 800;
}

#Nonlosofooterdiv ul:nth-child(2n+1){
  margin: 0 2%;
}
#Nonlosofooterdiv:after{
  content: "";
  display: table;
  clear: both;
  /* DEBUG:  */
  margin-bottom: 50px;
}
#contactandsupport a{
  margin: 1.5%;
}
#contactandsupport>a:first-child{
  background-color: white;
  border-radius: 4px;
  text-align: center;
  /* height: 40px; */
  color: #33475b;;
  vertical-align: baseline;
  padding: 10px 5px;
  display: block;
  font-size: 14px;
}
#contactandsupport{
  margin-right: 60px;
  float: right;
  width: 200px;
}
#lingue{
  margin-bottom: 30px;
}
.hrdemmerda:after{
  content: "";
  display: table;
  clear: both;
}
.aaaaa{
  margin:auto;
}
.hrdemmerda~ul{
  text-align: center;
}
.hrdemmerda~ul>li{

  display: inline-block;
}

/* -------------Credits------------- */
.piede{
  width: 50%;
  float: left;
  margin-top: 30px;
}
.piede span{
  display: block;
}
.piede a{
  margin: 20px 20px 0 0;
  float: right;
}
/* ----------------Responsive---------------- */
#partners .hamburgermenu {
  margin-left: 40%;;
}
#casetta{
  display: none;
}
.Hambmenu{
  display: none;
  width: 50px;
  height: 50px;
  font-size: 40px;
  background-color: white;
}
.Get_hidden{
  display: none;
  background-color: #ff7a59;
  border-radius: 4px;
  text-align: center;
  height: 60px;
  text-decoration: none;
  color: white;
  vertical-align: top;
  padding: 25px 20px;
  font-size: 14px;
  font-weight: 600;
  transition: 1s;
  width: 200px;
  margin: auto;

}
@media only screen and (max-width: 1205px){
  .mutendinav{
    display: none;
  }
  .Hambmenu{
    display: block;
    margin: auto;
  }

  .partnr{
    display: none;
  }
  #contactandsupport{
    display: none;
  }
  footer .Hambmenu{
    margin: none;
    float: right;
  }
  footer .Hambmenu:after{
    content: "";
    display: table;
    clear: both;
  }


}
@media only screen and (max-width: 1070px){
  .fa-search input{
    display: none;
  }
}
@media only screen and (max-width: 900px){
  .quad{
    padding: 1%;

  }
  #Nonlosofooterdiv ul{
    line-height: normal;
  }
  #Nonlosofooterdiv ul li a{
    font-size: 12px;
  }
  #Nonlosofooterdiv ul li h5{
    font-size: 16px;
  }
}
@media only screen and (max-width: 805px){
  #fixedbar .Get{
    display: none;
  }
  #fixedbar .Get~a{
    margin: 0;
  }
  #fixedbar .size{
    padding-right: 30px;
  }
  .fa-search{
    display: none;
  }
  #casette{
    display: none;
  }
  #casetta{
    display: block;
    position: absolute;
    bottom: 0px;
    right: 50px;
    height: 50%;
  }
  article{}
  .quad{
    width: 50%;
    padding: 5%;
  }
  .quad:nth-child(1n+3){
  border-top: 1px solid white;
  }
  .quad:nth-child(4n+2) {
    border-right: none;
  }
  #results{
    width: 100%;
    text-align: center;
  }
  #startproject .hamburgermenu{
    display: none;
  }
  #partners{
    width: 100%;
  }
  .partnr{
    display: block;
  }
  #ouroffer{
    width: 100%;
    padding: 50px;
    text-align: center;
  }
  #testimonial{
    width: 100%;
  }
  #testimonial img{
    margin: 5% 20%;
    float: none;
  }
  footer .Hambmenu {
    float: none;
   }
}
@media only screen and (max-width: 600px){
  #Growing_text{
    position: static;
    width: 100%;
    text-align: center;
  }
  #casetta{
    position:static;
    margin: auto;
  }
  .feature{
    width: 100%;
  }
  .feature:first-child ul li{
    display: block;
    margin: 0;
  }
  .feature:first-child{
    text-align: center;
  }
  .first h6{
    float: none;
  }
  .leftside{
    float: none;
    width: 100%;
    height: auto;
  }
  .first{
    width: 100%;
    height: auto;
    float: none;
  }
  .leftside>.Get:nth-child(2){
    display: none;
  }
  .Get_hidden{
    display: block;
  }
}
